app = 'time-tracker'
primary_region = 'sin'

[build]

[env]
  PORT = '8080'
  DATABASE_URL = 'sqlite+aiosqlite:///app/data/data.db'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
